body {
    margin: 0 auto;
    background-image: url(../images/prism/prism.png);
    text-align: center;
}

#staysTop {
    width: 100%;
    background: white;
}

header {
    width: 960px;
    margin: 0 auto;
}

h1 {
    float: left;
    padding: 15px;
    background: teal;
    margin: 0;
}

nav {
    float: right;
}

li {
    display: inline;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid grey;
}

#staysTop::after {
    display: block;
    content: "";
    clear: both;
}

img {
    height: 200px;
    width: 200px;
    margin: 10px 10px 0px 0px;
}

.imgTable {
    background: white;
    margin: 10px auto;
    padding: 10px;
}

#container {
    background: white;
    width: 930px;
    margin: 10px auto;
    padding: 15px;
}

h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    text-align: left;
}

.content {
    display: inline-flex;
    justify-content: flex-start;
    width: 940px;
}

.myForm {
    text-align: left;
}

input {
    width: 920px;
}

.submit {
    width: 80px;
}

.spacing {
    padding: 10px;
}

