html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-image: url(../images/prism/prism.png);
    text-align: center;
    height: 100%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    text-align: left;
    color: black;
}

h1 {
    padding: 15px;
    background: #4aaaa5;
    color: #ffffff;
    margin: 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    text-align: left;
    color: black;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

footer {
    background: #666666;
    padding-top: 20px;
    color: #ffffff;
}

.social-medias {
    display: block;
    text-align: left;
}

.links {
    color: #ffffff;
}

.card {
    background: #4aaaa5;
}

.card-title {
    color: black;
    padding: 5px;
    border-bottom: 1px solid #666666;
}

.d-block {
    height: 480px;
}

#card-original {
    background-color: #cccccc;
}

.center-text {
    text-align: center;
}

